@font-face {
    font-family: HolyMackerel;
    /* Гарнитура шрифта */
    src: url('/css/holy-mackуrel.ttf') format('truetype');
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: CrashC;
    /* Гарнитура шрифта */
    src: url('/css/crash-с.ttf') format('truetype');
    /* Путь к файлу со шрифтом */
}

html { 
  background: url(/images/bg.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}



/*.background {
    background-image: url('/images/bg.jpeg');
}
*/

.coming_soon {
    font-family: CrashC, Arial, regular;
    font-size: 36pt;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    width: 100%;
    min-height: 100%; 
}

